body {
	margin-top: 70px;
}
.top-fixed-container {
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(255,255,255,0.9);
}
.top-navigation-bar {
	width: 960px;
	margin: 14px auto;
	list-style: none;
	padding: 0;
}
.top-navigation-bar li {
	float: left;
	width: 20%;
}
.top-navigation-bar li .step-number {
	display: none;
}
.top-navigation-bar li a {
	display: block;
	padding: 10px;
	border: 1px solid #337ab7;
	background: #FFF;
	text-decoration: none;
	text-align: center;
	background-color: #f4f4f4;
	border-left-color: transparent;
}
.top-navigation-bar li:first-child a {
	border-left-color: #337ab7;
}
.top-navigation-bar li.active a {
	background-color: white;
}
.top-navigation-bar li.complete a {
	background-color: #337ab7;
	color: white;
	border-right-color: white;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.left-container {
	margin-right: 350px;
}
.right-sidebar {
	width: 335px;
	position: fixed;
	top: 70px;
	margin-left: 625px;
}	
.sidebar-content {
	border: 1px solid #ddd;
	position: relative;
}
.sidebar-content .mobile-panel {
	display: none;
}
.sidebar-content .details-panel {
	height: 500px;
	padding: 0 15px;
}
.page-section {
	height: 800px;
	position: relative;
	background: #f1f1f1;
	margin-bottom: 30px;
}
.section-footer {
	background: #DDD;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 40px;
}
@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
	.left-container {
		margin-right: 0;
	}
	.top-navigation-bar {
		margin: 0 auto;
		width: 100%;
	}
	.page-section {
		height: 400px;
	}
	.top-navigation-bar li {
		display: none;
	}
	.top-navigation-bar li.active {
		display: block;
		width: 100%;
	}
	.top-navigation-bar li .step-number {
		display: inline;
	}
	.top-navigation-bar li a {
		text-align: left;
		border: 0 none;
		padding: 8px 12px;
	}
	.right-sidebar {
		width: 100%;
		margin-left: 0;
		top: 36px;
		z-index: 20;
	}
	.sidebar-content {
		border: 0 none;
		background-color: #CCCCCC;
	}
	.sidebar-content .mobile-panel {
		display: block;
		padding: 7px 12px;
	}
	.sidebar-content .mobile-panel.expanded {
		background-color: #757575;
		color: white;
	}
	.sidebar-content .mobile-panel .glyphicon {
		margin-right: 10px;
	}
	.sidebar-content .details-panel {
		display: none;
	}

}